<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BritishFanta 🇬🇧</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- my import -->
    <link href="css/mycss.css" rel="stylesheet">

    <script>


        $(function () {
            if (localStorage.getItem("nick") == undefined) {
                $(window.location).attr('href', '/error.html');
            }
        });

    </script>


</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <h2 align="center"><span style="color:#ed5169">British</span><span style="color: #4776f4">Fanta</span>🇬🇧</h2>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="home.html">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <!-- multilevel menu-->
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-group"></i>
                    <span class="nav-link-text">Room</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMulti">
                    <li>
                        <a href="create_room.html">Create Room</a>
                    </li>
                    <li>
                        <a href="info_room.html">Leaderboard</a>
                    </li>
                    <li>
                        <a href="lastday.html">Last Day</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-flag"></i>
                    <span class="nav-link-text">Team</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    <li>
                        <a href="create_team.html">Create Team</a>
                    </li>
                    <li>
                        <a href="info_team.html">Info Team</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <label style="color:#4776f4">Dashboard</label>
            </li>

        </ol>

        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-info-circle"></i> Info Team
                    </div>
                    <div class="list-group list-group-flush small">
                        <a class="list-group-item list-group-item-action">
                            <div class="media">
                                <div class="media-body">
                                    <i class="fa fa-money fa-5x" style="color: seagreen"></i>
                                </div>
                                <div class="media-body">
                                    <strong>Budget</strong><br><span id="budget"></span>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-action">
                            <div class="media">


                                <div class="media-body">
                                    <i class="fa fa-bar-chart fa-5x" style="color: coral"></i>
                                </div>
                                <div class="media-body">
                                    <strong>Position</strong></br><span id="position"></span>

                                </div>
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-action">
                            <div class="media">

                                <div class="media-body">
                                    <i class="fa fa-soccer-ball-o fa-5x" style="color: gray"></i>
                                </div>
                                <div class="media-body">
                                    <strong>Points</strong></br>
                                    <span id="points"></span>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-action">
                            <div class="media">

                                <div class="media-body">
                                    <i class="fa fa-calendar fa-5x" style="color: #005cbf"></i>
                                </div>
                                <div class="media-body">
                                    <strong>Next match</strong></br>
                                    <span id="nxtmtc"></span>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>

            <div class="col-lg-6">

                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-info-circle"></i> Info User
                    </div>
                    <div class="list-group list-group-flush small">
                        <a class="list-group-item list-group-item-action">
                            <div class="media">
                                <div class="media-body">
                                    <i class="fa fa-user-circle-o fa-5x" style="color: indianred"></i>
                                </div>
                                <div class="media-body">
                                    <strong>Name</strong><br><span id="name"></span>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-action">
                            <div class="media">


                                <div class="media-body">
                                    <i class="fa fa-user-secret fa-5x" style="color: darkslateblue"></i>
                                </div>
                                <div class="media-body">
                                    <strong>Nickname</strong></br><span id="nickname"></span>

                                </div>
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-action">
                            <div class="media">

                                <div class="media-body">
                                    <i class="fa fa-flag fa-5x" style="color: #7b1b02"></i>
                                </div>
                                <div class="media-body">
                                    <strong>Team name</strong></br>
                                    <span id="team"></span>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-action">
                            <div class="media">

                                <div class="media-body">
                                    <i class="fa fa-group fa-5x" style="color: #005cbf"></i>
                                </div>
                                <div class="media-body">
                                    <strong>Room name</strong></br>
                                    <span id="room"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="logout" href="index.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->

    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>

    <!-- my import -->

</div>


<script>


    $("#nickname").html(localStorage.getItem("nick"));
    $("#name").html(localStorage.getItem("name") + " " + localStorage.getItem("surname"));
    $("#budget").html(localStorage.getItem("budget"));
    $("#team").html(localStorage.getItem("team"));

    //todo aggiustare ajax lato server
   /* $.ajax({
        url: '/getpointsbyteam',
        type: 'POST',
        data: JSON.stringify({team: localStorage.getItem("team")}),
        contentType: "application/json",
        dataType: 'json',
        success: function (data) {
            //localStorage.setItem("points", data.points);
            $("#position").html(data.positions);
            $("#points").html(data.points);
        }
    });*/


    //todo risolvere bug della stringa null
    if (localStorage.getItem("rooms") == "null") {
        $("#room").html("<a href='/create_room.html'>Create a room</a>");

    } else {
        $("#room").html("<a href='/info_room.html'>Info room</a>");
    }


    $("#logout").on("click", function () {
        localStorage.clear();
    });

</script>


</body>

</html>