<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login - BritishFanta 🇬🇧</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
<div class="container">
    <h1 align="center"><span style="color:#ed5169">British</span><span style="color: #4776f4">Fanta</span>🇬🇧</h1>
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp"
                           placeholder="Nickname" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password"
                           required>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Remember Password</label>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" id="login">Login</a>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="register.html">Register an Account</a>
                <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

<script>

    $("#login").click(function () {

        let obj = JSON.stringify({nick: $("#exampleInputEmail1").val(), pswd: $("#exampleInputPassword1").val()});
        console.log("obj", obj);

        $.ajax({
            url: '/signin',
            type: "POST",
            data: obj,
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {

                localStorage.setItem("nick", data.nick);
                localStorage.setItem("budget", data.budget);
                localStorage.setItem("name", data.name);
                localStorage.setItem("surname", data.surname);
                localStorage.setItem("points", data.points);
                $(window.location).attr('href', '/home.html');
            }, error: function (data) {
                alert("User o pswd errati");
            }

        });
    });

</script>

</html>
