<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BritishFanta 🇬🇧</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <!--my import -->
    <link href="css/mycss.css" rel="stylesheet">



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <script>


        $(function () {
            if (localStorage.getItem("nick") == undefined) {
                $(window.location).attr('href', '/error.html');
            }
        });

    </script>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <h2 align="center"><span style="color:#ed5169">British</span><span style="color: #4776f4">Fanta</span>🇬🇧</h2>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="home.html">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-group"></i>
                    <span class="nav-link-text">Room</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMulti">
                    <li>
                        <a href="create_room.html">Create Room</a>
                    </li>
                    <li>
                        <a href="info_room.html">Info Room</a>
                    </li>
                    <li>
                        <a href="lastday.html">Last Day</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-flag"></i>
                    <span class="nav-link-text">Team</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    <li>
                        <a href="create_team.html">Create Team</a>
                    </li>
                    <li>
                        <a href="info_team.html">Info Team</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <label style="color:#4776f4">Last Day - <span id="numDay"></span></label>
            </li>
            <!--<li class="breadcrumb-item active">Blank Page</li>-->
        </ol>
        <div class="row">
            <div class="col-12">
                <!--<h1>Blank</h1>
                <p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Leaderboard
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="leaderboard" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h1>Point Earned: <span id="ptearned"></span></h1>
                <!--<p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Last Day
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dayVote" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h1>Total Point: <span id="pttot"></span></h1>
                <!--<p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Your training
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="uDayVote" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="logout"href="index.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="js/sb-admin-datatables.min.js"></script>


<script>
    $("#logout").on("click", function () {
        localStorage.clear();
    });
let obj;
    $.ajax({
        url: '/getLastDay',
        type: 'GET',
        async: false,
        contentType: "application/json",
        dataType: 'json',
        success: function (data) {
            $('#numDay').html(" Day "+data);
            obj={'day': data};
        }
    });




    $('#dayVote').DataTable({
        ajax: {
            url: "/getallvote",
            type: 'POST',
            data: obj,
            dataSrc: "",
        },
        pageLength: 10,

        info: false,
        columns: [
            {data:'player',title: "Player"},
            {data:'team',title: "Team"},
            {data:'roule',title: "Roule"},
            {data:'vote',title: "Vote"},
            {data:'GF',title: "GF"},
            {data:'GS',title: "GS"},
        ]
    });
    $('#uDayVote').DataTable({
        ajax: {
            url: "/getvotebyteam",
            type: 'POST',
            data: {
                "team": localStorage.getItem("team"),
                'day': obj.day
            },
            dataSrc: "",
        },
        pageLength: 11,
        paging: false,
        info: false,
        columns: [
            {data:'player',title: "Player"},
            {data:'team',title: "Team"},
            {data:'roule',title: "Roule"},
            {data:'vote',title: "Vote"},
            {data:'GF',title: "GF"},
            {data:'GS',title: "GS"},
        ]
    });

    $.ajax({
        url: '/sumpoints',
        type: 'POST',
        async:false,
        data: JSON.stringify({team: localStorage.getItem("team"), day:obj.day, room:localStorage.getItem("rooms")}),
        contentType: "application/json",
        dataType: 'json',
        success: function (data) {
            $('#numDay').html(" Day "+obj.day);

            let len= data.length;
            let i=0;
            while(i<len && localStorage.getItem("nick")!==data[i].nick){
                i++;
            }
             $("#ptearned").html( data[i].point);
             $("#pttot").html( data[i].points);
        }
    });

$.fn.dataTable.ext.errMode = 'none'; //suppress warning
let t= $('#leaderboard').DataTable({
    ajax: {
        url: "/leaderboard",
        type: 'POST',
        async: false,
        data: {
            "room": localStorage.getItem("rooms"),
        },
        dataSrc: "",
    },
    pageLength: 10,
    paging: false,
    info: false,
    targets: 0,
    order: [[ 2, "desc" ]],
    columns: [
        {title: "Position"},
        {data:'name',title: "Team"},
        {data:'points',title: "Points"},
    ]
});

t.on( 'order.dt search.dt', function () {
    t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
        cell.innerHTML = i+1;
    } );
} ).draw();

</script>

</html>
