<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register - BritishFanta 🇬🇧</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <!-- my import -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/mycss.css">
</head>

<body class="bg-dark">
<div class="container">
    <h1 align="center"><span style="color:#ed5169">British</span><span style="color: #4776f4">Fanta</span>🇬🇧</h1>
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">First name</label>
                            <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp"
                                   placeholder="Enter first name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputLastName">Last name</label>
                            <input class="form-control" id="exampleInputLastName" type="text"
                                   aria-describedby="nameHelp" placeholder="Enter last name" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputEmail1">Nickname</label>
                            <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp"
                                   placeholder="Enter nickname" required>
                        </div>
                        <div class="col-md-6">
                            <label>Team name</label>
                            <input class="form-control" id="teamName" type="text" placeholder="Enter Team Name" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="exampleInputPassword1">Password</label>
                            <input class="form-control" id="exampleInputPassword1" type="password"
                                   placeholder="Password" required>
                        </div>

                    </div>
                </div>
                <a class="btn btn-primary btn-block" id="confirm">Register</a>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="index.html">Login Page</a>
                <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
<!--Modal form-->
<div id="dialog-confirm" class="dialog" title="Registration failed">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Nickname or Team already exists
    </p>
</div>
<div id="dialog-confirm2" class="dialog" title="Invalid field">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Compila tutti i campi
    </p>
</div>
<!--Modal form-->
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- my import -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $("#confirm").click(function () {
        let obj = {
            name: $("#exampleInputName").val(),
            surname: $("#exampleInputLastName").val(),
            nick: $("#exampleInputEmail1").val(),
            pswd: $("#exampleInputPassword1").val(),
            team: $("#teamName").val()
        };
        if (obj.name == "" || obj.surname == "" || obj.nick == "" || obj.pswd == "" || obj.team == "") {
            $("#dialog-confirm2").css("visibility", "visible");
            $("#dialog-confirm2").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    Cancel: function () {
                        $(this).dialog("close");
                        $("#dialog-confirm2").css("visibility", "hidden");
                    }
                }
            });
        } else {
            $.ajax({
                url: '/registrazione',
                type: "POST",
                dataType: 'json',
                data: JSON.stringify(obj),
                contentType: "application/json",
                success: function (data) {
                    $(window.location).attr('href', '/');
                },
                error: function (data) {
                    $("#dialog-confirm").css("visibility", "visible");
                    $("#dialog-confirm").dialog({
                        resizable: false,
                        height: "auto",
                        width: 400,
                        modal: true,
                        buttons: {
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });
        }
    });


</script>

</body>
</html>
