<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AJAX</title>
  <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>

</head>


<body>
<p id="tester" ></p>
<script>
    $.ajax({
        dataType: 'json',
        url:"/playerlist",
        success: function(result){
            $("#tester").text(JSON.stringify(result));
            /*  $.each(result, function(i){
              $("#tester").text(''+result[i]);
                  console.log(result[i]);
              })*/
        }
    });

</script>

</body>
</html>